h1 {
    color: black;
    text-align: center;
  }
  
  body {
    color: black;
    text-align: center;
    
  }



.D2 {
  background-image: url("./assets/2D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D3 {
  background-image: url("./assets/3D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D4 {
  background-image: url("./assets/4D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D5 {
  background-image: url("./assets/5D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D6 {
  background-image: url("./assets/6D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D7 {
  background-image: url("./assets/7D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D8 {
  background-image: url("./assets/8D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
.D9 {
  background-image: url("./assets/9D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;
 
}
.D10 {
  background-image: url("./assets/10D.png");
  background-size: cover;
  width: 26px;
  height: 40px;
  flex: 1;

}
  
  .container {
    display: flex;
    justify-content: center;
    background-color: bisque;
    margin: 40px 40px;
  }
  
  .parentLeft {
    border-style: solid;
    height: 200px;
    width: 130px;
     display: flex;
    justify-content: center;
     margin: 10px 50px;
  }

  .parentRight {
    border-style: solid;
    height: 200px;
    width: 130px;
     display: flex;
    justify-content: center;
     margin: 10px 50px;
  }
  
  .suit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    background-color: rgb(0, 153, 255);
  }
  .suits {
    align-content: space-around;
    margin: 10px 50px ;
    border-style: solid;
    height: 200px;
    width: 130px;
    
  }
  

  
  footer { 
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 40px; 
    background: grey; 
} 